
<ul class="nav navbar-nav">                
    <li><a href="{{ path('convenio') }}">Convenios</a></li>
    <li><a href="{{ path('procedimiento') }}">Procedimientos</a></li>
    <li><a href="{{ path('usuario') }}">Usuarios</a></li>
    <li><a href="{{ path('paciente') }}">Pacientes</a></li>
    <li><a href="{{ path('medico') }}">Medicos</a></li>
    <li><a href="{{ path('cita_citasmedico') }}">Citas</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('grupo') }}">Grupos preguntas</a></li>
            <li><a href="{{ path('tipopregunta') }}">Templates de preguntas</a></li>
            <li><a href="{{ path('pregunta') }}">Preguntas</a></li>               
            <li><a href="{{ path('unidadatencion') }}">Unidades</a></li>                           
        </ul>
    </li> 
</ul>
