{% extends '::base.html.twig' %}

{% block body -%}
<div class="headerdiv">
    <div class="row">
        <div class="col-md-10">
            <h3>Usuarios</h3>
        </div>
        <div class="col-md-2" style="padding-top: 0px; text-align: right;">
            <ul class="list-inline">
                <li >
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-register">
                        <img src="{{ asset('bundles/histclinica/images/icons/plus-20.png') }}" width="20px" alt="Crear" title="Crear"/>
                        Registrar Asistente
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</div>

<table class="records_list table table-striped table-condensed table-bordered">
    <thead>
        <tr>                
            <th>Username</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        {%if entity.roles[0] != "ROLE_ADMIN"%}
        <tr>
            <td>{{entity.username}}</td>
            <td>{{entity.email}}</td>
            <td>{%if entity.roles[0] == "ROLE_ADMIN"%}
                Administrador
                {%elseif entity.roles[0] =="ROLE_MEDICO"%}
                Médico
                {%else%}
                Asistente
                {%endif%}
            </td>
            <td class="tdactions">
                <ul class="list-inline">                   
                    <li>
                        <a href="{{ path('usuario_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar el usuario?');" ><img src="{{ asset('bundles/histclinica/images/icons/cancel-22.png') }}" width="20px" alt="Borrar"  title="Borrar"/></a>
                    </li>
                </ul>
            </td>
        </tr>
        {%endif%}
        {% endfor %}
    </tbody>
</table>
<form action="{{path('usuario_search')}}" method="post">
    <div class="col-md-3" style="padding-left: 30px; padding-top: 5px; padding-bottom: 5px;">
        <input autocomplete="off" required="" value="{%if search is defined%}{{search}}{%endif%}" type="search" class="form-control" name="search" placeholder="Buscar por Username, Email"/> 
    </div>
    {%if search is defined%}
    <div class="col-md-1" style="padding-top: 8px; padding-bottom: 5px; width: 5%; padding-right: 0px; padding-left: 0px;">
        <a href="{{ path('usuario') }}" class="btn btn-default btn-register">
            <img src="{{ asset('bundles/histclinica/images/icons/cancel.png') }}" width="20px" alt="Quitar Filtro" title="Quitar Filtro"/>
        </a>
    </div>
    {%endif%}
    <div class="col-md-1" style="padding-left: 0px; padding-top: 5px; padding-bottom: 5px;">
        <input class="btn btn-default" type="submit" value="Buscar"/>
    </div>
</form>
{{ simple_paginator_render('usuario',null,{
                    'container_class':'pagination',
                    'firstPageText':'|<',
                    'firstEnabledClass':'',
                    'firstDisabledClass':'disabled',
                    'previousPageText': '<<',
                    'previousEnabledClass':'',
                    'previousDisabledClass':'disabled',
                    'currentClass': 'active',
                    'nextPageText': '>>',
                    'nextEnabledClass':'',
                    'nextDisabledClass':'disabled', 
                    'lastPageText':'>|',
                    'lastEnabledClass': '',
                    'lastDisabledClass': 'disabled'
                    })}}
    {% endblock %}
