{% extends '::base.html.twig' %}

{% block body -%}
{% form_theme edit_form 'HistClinicaBundle:Form:form_template.html.twig' %}
<h2>Editar Paciente</h2>
    {{ form_start(edit_form) }}        

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                1. Datos personales del paciente

            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse ">
            <div class="panel-body">
                <!-- --------- HERE BUTTONS ---------------------------------------------------->
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.apellido1)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.apellido2)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.apellido1, '1er apellido') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.apellido1, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.apellido2, '2do apellido') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.apellido2, {'attr' : { 'size' :'35' } }) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.nombres)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.sexo)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.nombres, 'Nombres') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.nombres, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.sexo, 'Género') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.sexo) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.fechaNacimiento)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.lugarNacimiento)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.fechaNacimiento, 'Fecha nacimiento') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.fechaNacimiento) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.lugarNacimiento, 'Lugar nacimiento') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.lugarNacimiento) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.tipoIdentificacion)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.noIdentificacion)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.tipoIdentificacion, 'Tipo Identificación') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.tipoIdentificacion) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.noIdentificacion, 'No Identificación') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.noIdentificacion) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.email)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.estadoCivil)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.email, 'Email') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.email, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.estadoCivil, 'Estado civil') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.estadoCivil) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.ocupacion)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.empresa)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.ocupacion, 'Ocupación') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.ocupacion) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.empresa, 'Empresa') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.empresa) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.cargo)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.convenio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.cargo, 'Cargo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.cargo) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.convenio, 'Convenio') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.convenio) }}        </div>   
                </div>        
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.residenciaDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.residenciaMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.residenciaDireccion, 'Dirección residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.residenciaDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.residenciaMunicipio, 'Municipio residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.residenciaMunicipio) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.residenciaDepartamento)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.residenciaTelefono)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.residenciaDepartamento, 'Depto. residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.residenciaDepartamento) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.residenciaTelefono, 'Tel. Residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.residenciaTelefono) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.trabajoDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.trabajoMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.trabajoDireccion, 'Dirección trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.trabajoDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.trabajoMunicipio, 'Municipio trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.trabajoMunicipio) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.trabajoDepartamento)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.trabajoTelefono)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.trabajoDepartamento, 'Depto. trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.trabajoDepartamento) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.trabajoTelefono, 'Tel. trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.trabajoTelefono) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.ePS)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.cotizanteBeneficiario)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.ePS, 'EPS') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.ePS) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.cotizanteBeneficiario, 'Tipo vinculación') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.cotizanteBeneficiario) }}        </div>   
                </div>

                <!-- --------------------------------------------------------------------------->
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                1.1 Datos persona resposable

            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse ">
            <div class="panel-body">
                <!-- ----------- HERE BUTTONS -------------------------------------------------->
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.responNombreCompleto)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.responNoIdentificacion)}}</div>
                </div>
                <div class="row formulario-row">         
                    <div class="col-md-2">{{form_label(edit_form.responNombreCompleto, 'Nombre completo') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responNombreCompleto, {'attr' : { 'size' :'35' } }) }}        </div>      
                    <div class="col-md-2">{{form_label(edit_form.responNoIdentificacion, 'Cedula No.') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responNoIdentificacion) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.responParentesco)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.responUbicacionTelefono)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.responParentesco, 'Parentesco') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responParentesco) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.responUbicacionTelefono, 'Teléfono') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responUbicacionTelefono) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.responUbicacionDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(edit_form.responUbicacionMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.responUbicacionDireccion, 'Dirección residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responUbicacionDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(edit_form.responUbicacionMunicipio, 'Municipio residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responUbicacionMunicipio) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(edit_form.responUbicacionDepartamento)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(edit_form.responUbicacionDepartamento, 'Depto. residencia') }}</div>
                    <div class="col-md-4">{{form_widget(edit_form.responUbicacionDepartamento) }}        </div>    

                </div>
                <!-- --------------------------------------------------------------------------->
            </div>
        </div>
    </div>
</div>

<div class="row formulario-row">
    <div class="col-md-12">        
        <ul class="list-inline">
            <li >
                    {{form_row(edit_form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default' } }) }}                
            </li>                
            <li >
                <a href="{{ path('paciente') }}" class="btn btn-default">
                    Volver al listado
                </a>
            </li>                
        </ul>        
    </div>
</div>
    {{ form_end(edit_form)}}

{% endblock %}
