{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
        <div class="col-md-7">
            <h2>Pacientes</h2>
        </div>
        <div class="col-md-5" style="padding-top: 20px; text-align: right;">
            <ul class="list-inline">
                <li >
                    <a href="{{ path('paciente_new') }}" class="btn btn-default">
                        Registrar paciente
                    </a>
                </li>                
            </ul>
        </div>
    </div>
        
    <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre Completo</th>
               <!-- <th>Fechanacimiento</th>
                <th>Lugarnacimiento</th> -->
                <th>Tipo Id.</th>
                <th>No Id.</th>
                <th>Email</th>
                <th>Estado civil</th>
                <th>Sexo</th>
              <!--  <th>Ocupacion</th>
                <th>Empresa</th>
                <th>Cargo</th> -->
                <th>Eps</th>
               <!-- <th>Cotizantebeneficiario</th>
                <th>Responnombrecompleto</th>
                <th>Responnoidentificacion</th>
                <th>Responparentesco</th>
                <th>Residenciamunicipio</th>
                <th>Residenciadepartamento</th>
                <th>Residenciadireccion</th>
                <th>Residenciatelefono</th>
                <th>Trabajomunicipio</th>
                <th>Trabajodepartamento</th>
                <th>Trabajodireccion</th>
                <th>Trabajotelefono</th>
                <th>Responubicaciondepartamento</th>
                <th>Responubicacionmunicipio</th>
                <th>Responubicaciondireccion</th>
                <th>Responubicaciontelefono</th>-->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombres }} {{ entity.apellido1 }} {{ entity.apellido2 }}</td>                
                <!-- <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lugarNacimiento }}</td> -->
                <td>{{ tipoIdentificacion[entity.tipoIdentificacion] }}  </td>                
                 
                <td>{{ entity.noIdentificacion }}</td>
                <td>{{ entity.email }}</td>                
                <td>{{ estadoCivil[entity.estadoCivil] }}</td> 
                <td> {{ genero[entity.sexo] }}</td>
               <!--  <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.cargo }}</td> -->
                
                <td>{{ entity.ePS }}</td>
             <!--   <td>{{ entity.cotizanteBeneficiario }}</td>
                <td>{{ entity.responNombreCompleto }}</td>
                <td>{{ entity.responNoIdentificacion }}</td>
                <td>{{ entity.responParentesco }}</td>
                <td>{{ entity.residenciaMunicipio }}</td>
                <td>{{ entity.residenciaDepartamento }}</td>
                <td>{{ entity.residenciaDireccion }}</td>
                <td>{{ entity.residenciaTelefono }}</td>
                <td>{{ entity.trabajoMunicipio }}</td>
                <td>{{ entity.trabajoDepartamento }}</td>
                <td>{{ entity.trabajoDireccion }}</td>
                <td>{{ entity.trabajoTelefono }}</td>
                <td>{{ entity.responUbicacionDepartamento }}</td>
                <td>{{ entity.responUbicacionMunicipio }}</td>
                <td>{{ entity.responUbicacionDireccion }}</td>
                <td>{{ entity.responUbicacionTelefono }}</td> -->
                <td>
                
                   <ul class="list-inline">
                    <li>
                        <a href="{{ path('paciente_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('paciente_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar el paciente?');" >Borrar</a>
                    </li>
                    <li>
                        <a href="{{ path('historiaClinica_new', { 'id': entity.id }) }}">[Historia Cl&iacute;nica]</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
