{% extends '::base.html.twig' %}

{% block body %}
{% form_theme form 'HistClinicaBundle:Form:form_template.html.twig' %}
<h2>Registrar Paciente</h2>
    {{ form_start(form) }}        

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                1. Datos personales del paciente
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse">
            <div class="panel-body">
                <!-- --------- HERE BUTTONS ---------------------------------------------------->
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.apellido1)}}</div>
                    <div class= "col-md-6">{{form_errors(form.apellido2)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.apellido1, '1er apellido') }}</div>
                    <div class="col-md-4">{{form_widget(form.apellido1, {'attr' : { 'size' :'35' } }) }}</div> 
                    <div class="col-md-2">{{form_label(form.apellido2, '2do apellido') }}</div>
                    <div class="col-md-4">{{form_widget(form.apellido2, {'attr' : { 'size' :'35' } }) }}</div>  
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.nombres)}}</div>
                    <div class= "col-md-6">{{form_errors(form.sexo)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.nombres, 'Nombres') }}</div>
                    <div class="col-md-4">{{form_widget(form.nombres, {'attr' : { 'size' :'35' } }) }}        </div> 
                    <div class="col-md-2">{{form_label(form.sexo, 'Género') }}</div>
                    <div class="col-md-4">{{form_widget(form.sexo) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.fechaNacimiento)}}</div>
                    <div class= "col-md-6">{{form_errors(form.lugarNacimiento)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.fechaNacimiento, 'Fecha nacimiento') }}</div>
                    <div class="col-md-4">{{form_widget(form.fechaNacimiento) }}        </div>  
                    <div class="col-md-2">{{form_label(form.lugarNacimiento, 'Lugar nacimiento') }}</div>
                    <div class="col-md-4">{{form_widget(form.lugarNacimiento) }}        </div>  
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.tipoIdentificacion)}}</div>
                    <div class= "col-md-6">{{form_errors(form.noIdentificacion)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.tipoIdentificacion, 'Tipo Identificación') }}</div>
                    <div class="col-md-4">{{form_widget(form.tipoIdentificacion) }}        </div>   
                    <div class="col-md-2">{{form_label(form.noIdentificacion, 'No Identificación') }}</div>
                    <div class="col-md-4">{{form_widget(form.noIdentificacion) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.email)}}</div>
                    <div class= "col-md-6">{{form_errors(form.estadoCivil)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.email, 'Email') }}</div>
                    <div class="col-md-4">{{form_widget(form.email, {'attr' : { 'size' :'35' } }) }}        </div> 
                    <div class="col-md-2">{{form_label(form.estadoCivil, 'Estado civil') }}</div>
                    <div class="col-md-4">{{form_widget(form.estadoCivil) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.ocupacion)}}</div>
                    <div class= "col-md-6">{{form_errors(form.empresa)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.ocupacion, 'Ocupación') }}</div>
                    <div class="col-md-4">{{form_widget(form.ocupacion) }}        </div>
                    <div class="col-md-2">{{form_label(form.empresa, 'Empresa') }}</div>
                    <div class="col-md-4">{{form_widget(form.empresa) }}        </div>  
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.cargo)}}</div>
                    <div class= "col-md-6">{{form_errors(form.convenio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.cargo, 'Cargo') }}</div>
                    <div class="col-md-4">{{form_widget(form.cargo) }}        </div>    
                    <div class="col-md-2">{{form_label(form.convenio, 'Convenio') }}</div>
                    <div class="col-md-4">{{form_widget(form.convenio) }}        </div>
                </div>        
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.residenciaDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(form.residenciaMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.residenciaDireccion, 'Dirección residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.residenciaDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(form.residenciaMunicipio, 'Municipio residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.residenciaMunicipio) }}        </div>   
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.residenciaDepartamento)}}</div>
                    <div class= "col-md-6">{{form_errors(form.residenciaTelefono)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.residenciaDepartamento, 'Depto. residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.residenciaDepartamento) }}        </div>  
                    <div class="col-md-2">{{form_label(form.residenciaTelefono, 'Tel. Residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.residenciaTelefono) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.trabajoDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(form.trabajoMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.trabajoDireccion, 'Dirección trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(form.trabajoDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(form.trabajoMunicipio, 'Municipio trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(form.trabajoMunicipio) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.trabajoDepartamento)}}</div>
                    <div class= "col-md-6">{{form_errors(form.trabajoTelefono)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.trabajoDepartamento, 'Depto. trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(form.trabajoDepartamento) }}        </div>
                    <div class="col-md-2">{{form_label(form.trabajoTelefono, 'Tel. trabajo') }}</div>
                    <div class="col-md-4">{{form_widget(form.trabajoTelefono) }}        </div>    
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.ePS)}}</div>
                    <div class= "col-md-6">{{form_errors(form.cotizanteBeneficiario)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.ePS, 'EPS') }}</div>
                    <div class="col-md-4">{{form_widget(form.ePS) }}        </div>  
                    <div class="col-md-2">{{form_label(form.cotizanteBeneficiario, 'Tipo vinculación') }}</div>
                    <div class="col-md-4">{{form_widget(form.cotizanteBeneficiario) }}        </div>  
                </div>

                <!-- --------------------------------------------------------------------------->
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                1.1 Datos persona resposable

            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body">
                <!-- ----------- HERE BUTTONS -------------------------------------------------->
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.responNombreCompleto)}}</div>
                    <div class= "col-md-6">{{form_errors(form.responNoIdentificacion)}}</div>
                </div>
                <div class="row formulario-row">         
                    <div class="col-md-2">{{form_label(form.responNombreCompleto, 'Nombre completo') }}</div>
                    <div class="col-md-4">{{form_widget(form.responNombreCompleto, {'attr' : { 'size' :'35' } }) }}        </div>      
                    <div class="col-md-2">{{form_label(form.responNoIdentificacion, 'Cedula No.') }}</div>
                    <div class="col-md-4">{{form_widget(form.responNoIdentificacion) }}        </div>
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.responParentesco)}}</div>
                    <div class= "col-md-6">{{form_errors(form.responUbicacionTelefono)}}</div>
                </div>
                <div class="row formulario-row">

                    <div class="col-md-2">{{form_label(form.responParentesco, 'Parentesco') }}</div>
                    <div class="col-md-4">{{form_widget(form.responParentesco) }}        </div>
                    <div class="col-md-2">{{form_label(form.responUbicacionTelefono, 'Teléfono') }}</div>
                    <div class="col-md-4">{{form_widget(form.responUbicacionTelefono) }}        </div>  
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.responUbicacionDireccion)}}</div>
                    <div class= "col-md-6">{{form_errors(form.responUbicacionMunicipio)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.responUbicacionDireccion, 'Dirección residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.responUbicacionDireccion, {'attr' : { 'size' :'35' } }) }}        </div>    
                    <div class="col-md-2">{{form_label(form.responUbicacionMunicipio, 'Municipio residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.responUbicacionMunicipio) }}        </div>
                </div>
                <div class="row formulario-row">            
                    <div class= "col-md-6">{{form_errors(form.responUbicacionDepartamento)}}</div>
                </div>
                <div class="row formulario-row">
                    <div class="col-md-2">{{form_label(form.responUbicacionDepartamento, 'Depto. residencia') }}</div>
                    <div class="col-md-4">{{form_widget(form.responUbicacionDepartamento) }}        </div>    
                </div>
                <!-- --------------------------------------------------------------------------->
            </div>
        </div>
    </div>
</div>

<div class="row formulario-row">
    <div class="col-md-12">        
        <ul class="list-inline">
            <li >
                    {{form_row(form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default' } }) }}                
            </li>                
            <li >
                <a href="{{ path('paciente') }}" class="btn btn-default">
                    Volver al listado
                </a>
            </li>                
        </ul>        
    </div>
</div>
    {{ form_end(form)}}
{% endblock %}
