{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CostoProcedimiento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.valor }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('costoProcedimiento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('costoProcedimiento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {{ simple_paginator_render('costoProcedimiento')}}
        <ul>
        <li>
            <a href="{{ path('costoProcedimiento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
