{% extends '::base.html.twig' %}

{% block body -%}

<div class="headerdiv">
     <div class="row">
        <div class="col-md-12">
            <h3>Tarifas por convenio</h3>
        </div>
    </div>
</div>
    <form action="{{path('costoProcedimiento_guardar')}}" method="post">
        <input type="hidden" name="convenioId" value="{{ convenioId }}" />
        <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Procedimiento</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
        {% for procedimiento in procedimientos %}            
                <tr>                 
                    <td>{{ procedimiento.descripcion }}</td>
                    <td>
                       <input type="text" name="txtValor{{ procedimiento.id }}" value="0" />
                    </td>
            </tr>
        {% endfor %}
        </tbody>        
        </table>
        
        <input type="submit" value="Guardar" class="btn btn-default  btn-success" />
        <a href="{{ path('convenio') }}" class="btn btn-default">
            Listado convenios
        </a>
    </form>
    <script language="javascript" type="text/javascript">
        jQuery(document).ready(function(){
            {% for entity in entities %}               
                jQuery("input[name='txtValor{{ entity.procedimiento.id }}']").val('{{ entity.valor }}');            
            {% endfor %}
        });    
    </script>
    
        

    {% endblock %}
