{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Convenio list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreconvenio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('convenio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombreConvenio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('convenio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('convenio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {{ simple_paginator_render('convenio')}}

        <ul>
        <li>
            <a href="{{ path('convenio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
