{% extends '::base.html.twig' %}

{% block body -%}
{% form_theme form 'HistClinicaBundle:Form:form_template.html.twig' %}
<div  class="headerdiv">
    <h3>Registrar Convenio</h3>
</div>
    
    {{ form_start(form) }}       
<div class="formbody">
    <div class="row formulario-row">
        <div class="col-md-2">{{form_label(form.nombreConvenio) }}</div>
        <div class="col-md-4">{{form_widget(form.nombreConvenio) }}</div>           
        <div class= "col-md-4">{{form_errors(form.nombreConvenio)}}</div>
    </div>
</div>
    <div class="row formulario-row">
        <div class="col-md-12">        
        <ul class="list-inline">
                <li >
                    {{form_row(form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default btn-success' } }) }}    
                </li>                
                <li >
                    <a href="{{ path('convenio') }}" class="btn btn-default  ">Volver al listado</a>
                </li>                
            </ul>        
        </div>
    </div>
    {{ form_end(form)}}
        
{% endblock %}
