{% extends '::extranet.html.twig' %}
{% block body -%}
<h1>Historia Clinica</h1>
<form action="{{path('historiaClinica_create')}}" method="post">
    <input type="hidden" name="paciente_id" value="{{paciente.id}}">
{% for grupo in grupos %}
    {%set ban=1%}
    {%set columnaDibujada = 1%}
    <div class="grupo panel panel-default" >
        <div  class="panel-heading">
    {{grupo.titulo}}        
        </div>
    
        <div class="pregunta"><!-- <div class="pregunta panel-body">-->
            <table class="records_list table table-striped table-condensed table-bordered" style="width: 100%;">
    {% for pregunta in grupo.preguntas %}
                {# Imprimir Errores#}
                {%if errores is defined and attribute(errores,pregunta.id) is defined%}
                    {%set error= attribute(errores,pregunta.id)%}
                {%else%}
                    {%set error=''%}
                {%endif%}
                    
                {# Bajar de Colunmna cuando la pregunta pertenezca a el siguiente orden#}
                {%if orden is defined%}
                    {%if orden != pregunta.orden%}
                        {%if ban==1%}
                            {%set ban=0%}
                        {%else%}
                             </tr>
                        {%endif%}
                        <tr>
                       {%set orden=pregunta.orden%}
                    {%endif%}
                {%else%}
                    {%set orden = pregunta.orden%}
                {%endif%}
                {%if pregunta.estaActiva %}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        <table cellspacing="0" cellpadding="0" width="100%" >
                            <tr>
                            {%if pregunta.enunciado != '' %}
                                <td style="width: 180px; ">{{ pregunta.enunciado }}</td>
                            {%endif%}

                            {%if pregunta.tipoEntrada == tipoEntrada.Texto %}
                                <td>
                                <input type="text" name="{{ pregunta.id }}" />
                                </td>
                            {%elseif pregunta.tipoEntrada == tipoEntrada.Numero %}
                                <td>    
                                <input required="{{pregunta.obligatoria ? 'true' : 'false' }}" type="number" name="{{pregunta.id}}" class="" min="0"/>
                                </td>
                            {%elseif pregunta.tipoEntrada == tipoEntrada.Radio %}
                                <td style="display: inline; white-space: nowrap;">
                                {%for preguntaopcion in pregunta.preguntaOpciones%}                                
                                    <input type="radio" name="{{pregunta.id}}" class="" value="{{preguntaopcion.valorTexto}}" /> {{preguntaopcion.enunciado}}                                
                                {%endfor%} 
                                </td>
                            {%elseif pregunta.tipoEntrada == tipoEntrada.Check %}    
                                {% set contador = 0 %}
                                <td  style="display: inline">
                                {%for preguntaopcion in pregunta.preguntaOpciones%}                                
                                    <input type="radio" name="{{pregunta.id}}|{{contador}}" class="" value="{{preguntaopcion.valorTexto}}" /> {{preguntaopcion.enunciado}}
                                    {% set contador = contador + 1 %}                                
                                {%endfor%}  
                                </td>
                            {%elseif pregunta.tipoEntrada == tipoEntrada.AreaTexto %}    
                                <td>
                                    <textarea name="{{pregunta.id}}"  rows="4" cols="50"></textarea>
                                </td>
                            {%elseif pregunta.tipoEntrada == tipoEntrada.ComboBox %}    
                                <td>
                                    <select name="{{pregunta.id}}">
                                {%for preguntaopcion in pregunta.preguntaOpciones%}                                
                                    <option class="" value="{{preguntaopcion.valorTexto}}"> {{preguntaopcion.enunciado}}</option>
                                {%endfor%}          
                                    </select>
                                    
                                </td>
                            {%endif%}                    
                            </tr>
                    </table>
                    </td>                
                {%endif%}
                
                    
    {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="grupo">
        <p> No hay grupos de preguntas guardados</p>
    </div>
{% endfor%}
<input type="submit" value="Guardar" class="btn btn-default" />
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('historiaClinica') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}