{% extends '::extranet.html.twig' %}
{% block body -%}
<h1>Historia Clinica</h1>
<form action="{{path('historiaClinica_create')}}" method="post">
    <input type="hidden" name="paciente_id" value="{{paciente.id}}">
{% for grupo in grupos %}
    {%set ban=1%}
    {%set columnaDibujada = 1%}
    <div class="grupo">
    {{grupo.titulo}}
        <div class="pregunta">
            <table>
    {% for pregunta in grupo.preguntas %}
                {# Imprimir Errores#}
                {%if errores is defined and attribute(errores,pregunta.id) is defined%}
                    {%set error= attribute(errores,pregunta.id)%}
                {%else%}
                    {%set error=''%}
                {%endif%}
                    
                {# Bajar de Colunmna cuando la pregunta pertenezca a el siguiente orden#}
                {%if orden is defined%}
                    {%if orden != pregunta.orden%}
                        {%if ban==1%}
                        {%set ban=0%}
                        {%else%}
                         </tr>
                        {%endif%}
                        <tr>
                       {%set columnaDibujada=1%}
                        {%set orden=pregunta.orden%}
                    {%endif%}
                {%else%}
                 {%set orden = pregunta.orden%}
                {%endif%}
                            
                 {# Define como se muetra cada tipo de preunta#}
                 {%if pregunta.tipoPregunta.id==tipo.string%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                    <input type="text" name="{{pregunta.id}}" class=""/>
                    </td>
                    
                 {%elseif pregunta.tipoPregunta.id == tipo.si_no_nosabe%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                    </td>
                    {%for opcionRespuesta in pregunta.tipoPregunta.opcionesRespuesta%}
                    <td>
                        <input type="radio" name="{{pregunta.id}}" class="" value="{{opcionRespuesta.valorTexto}}"/>
                    </td>
                    {%endfor%} 
                 
                  {%elseif pregunta.tipoPregunta.id in [tipo.buena_regular_mala, tipo.si_no_casillas]%}
                    <td>{{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                    </td>
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                    {%for opcionRespuesta in pregunta.tipoPregunta.opcionesRespuesta%}
                        {{opcionRespuesta.valorTexto}}
                        <input type="radio" name="{{pregunta.id}}" class="" value="{{opcionRespuesta.valorTexto}}"/>
                    {%endfor%} 
                    </td>
                  
                   {%elseif pregunta.tipoPregunta.id == tipo.diagnostico_radio%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                    {%for opcionRespuesta in pregunta.tipoPregunta.opcionesRespuesta%}
                        {{opcionRespuesta.valorTexto}}
                        <input type="radio" name="{{pregunta.id}}" class="" value="{{opcionRespuesta.valorTexto}}"/>
                    {%endfor%} 
                    </td>
                    
                  {%elseif pregunta.tipoPregunta.id in [ tipo.normal_anormal,tipo.si_no]%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                    </td>
                    {%for opcionRespuesta in pregunta.tipoPregunta.opcionesRespuesta%}
                    <td>
                        <input required="{{pregunta.obligatoria ? 'true' : 'false' }}" type="radio" name="{{pregunta.id}}" class="" value="{{opcionRespuesta.valorTexto}}"/>
                    </td>
                    {%endfor%} 
                  
                 {%elseif pregunta.tipoPregunta.id == tipo.enunciado %}
                    {% if columnaDibujada < pregunta.noColumna%}  
                            {%set diferencia=pregunta.noColumna-columnaDibujada%}
                            {%set columnaDibujada=pregunta.noColumna%}
                            {%for i in range(1,diferencia)%}
                            <td></td>
                            {%endfor%}                    
                    {%endif%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                            {{pregunta.enunciado}}
                    </td> 
                    
                 {%elseif pregunta.tipoPregunta.id ==tipo.numero_entero %}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                        <input required="{{pregunta.obligatoria ? 'true' : 'false' }}" type="number" name="{{pregunta.id}}" class="" min="0"/>
                    </td>
                    
                 {%elseif pregunta.tipoPregunta.id == tipo.check%}
                    <td rowspan="{{pregunta.rowspan}}" colspan="{{pregunta.colspan}}">
                        {{pregunta.enunciado}}
                        {%if error is defined and error!=''%}
                        <img src="{{ asset('bundles/histclinica/images/advertencia.png') }}" height="20" width="20" title="{{error}}">
                        {%endif%}
                        <input type="checkbox" name="{{pregunta.id}}" class="" >
                     </td>
                  
                 {%endif%}
                    
                 {# Aumenta cada vez que se dibuja un <td>#}
                 {%set columnaDibujada= columnaDibujada +1%}
    {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="grupo">
        <p> No hay grupos de preguntas guardados</p>
    </div>
{% endfor%}
    <input type="submit">
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('historiaClinica') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}