{% extends '::base.html.twig' %}

{% block body -%}
{% form_theme edit_form 'HistClinicaBundle:Form:form_template.html.twig' %}
<div  class="headerdiv">
    <h3>Editar Pregunta</h3>
</div>
    {{ form_start(edit_form) }} 
<div class="formbody">
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(edit_form.grupo)}}</div>
    <div class= "col-md-6">{{form_errors(edit_form.tipoEntrada)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(edit_form.grupo) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.grupo) }}        </div>    
    <div class="col-md-2">{{form_label(edit_form.tipoEntrada) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.tipoEntrada) }}        </div>    
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(edit_form.enunciado)}}</div>
    <div class= "col-md-6">{{form_errors(edit_form.obligatoria)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(edit_form.enunciado) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.enunciado) }}        </div>    
    <div class="col-md-2">{{form_label(edit_form.obligatoria) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.obligatoria) }}        </div>    
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(edit_form.orden)}}</div>
    <div class= "col-md-6">{{form_errors(edit_form.noColumna)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(edit_form.orden) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.orden) }}        </div>    
    <div class="col-md-2">{{form_label(edit_form.noColumna) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.noColumna) }}        </div>    
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(edit_form.colspan)}}</div>
    <div class= "col-md-6">{{form_errors(edit_form.rowspan)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(edit_form.colspan) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.colspan) }}        </div>    
    <div class="col-md-2">{{form_label(edit_form.rowspan) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.rowspan) }}        </div>    
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(edit_form.estaActiva)}}</div>
    <div class= "col-md-6">{{form_errors(edit_form.opciones)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(edit_form.estaActiva) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.estaActiva) }}        </div>    
    <div class="col-md-2">{{form_label(edit_form.opciones) }}</div>
    <div class="col-md-4">{{form_widget(edit_form.opciones) }}        </div>    
</div>
        </div>
<div class="row formulario-row">
    <div class="col-md-12">        
        <ul class="list-inline">
            <li >
                    {{form_row(edit_form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default btn-success' } }) }}                
            </li>                
            <li >
                <a href="{{ path('pregunta') }}" class="btn btn-default">
                    Volver al listado
                </a>
            </li>                
        </ul>        
    </div>
</div>
    {{ form_end(edit_form)}}
{% endblock %}
