{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
        <div class="col-md-7">
            <h2>Unidades de atenci&oacute;n</h2>
        </div>
        <div class="col-md-5" style="padding-top: 20px; text-align: right;">
            <ul class="list-inline">
                <li >
                    <a href="{{ path('unidadatencion_new') }}" class="btn btn-default">
                        Registrar unidad
                    </a>
                </li>                
            </ul>
        </div>
    </div>
        
    <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('unidadatencion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    
                    <li>
                        <a href="{{ path('unidadatencion_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar el medico?');" >Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
