{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-7">
            <h2>Grupos de preguntas</h2>
        </div>
        <div class="col-md-5" style="padding-top: 20px; text-align: right;">
            <ul class="list-inline">
                <li >
                    <a href="{{ path('grupo_new') }}" class="btn btn-default">
                        Registrar grupo
                    </a>
                </li>                
            </ul>
        </div>
    </div>
        
    <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>                
                <th>Título</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.orden }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('grupo_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('grupo_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar el grupo?');" >Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ simple_paginator_render('grupo')}}

    {% endblock %}
