{% extends '::base.html.twig' %}

{% block body %}
       
    <h2>Registrar grupo de preguntas</h2>
    {{ form_start(form) }}        
    <div class="row formulario-row">
        <div class="col-md-2">{{form_label(form.titulo) }}</div>
        <div class="col-md-4">{{form_widget(form.titulo) }}        </div>    
    </div>
    <div class="row formulario-row">
        <div class="col-md-2">{{form_label(form.orden) }}</div>
        <div class="col-md-4">{{form_widget(form.orden) }}        </div>    
    </div>
    <div class="row formulario-row">
        <div class="col-md-12">        
        <ul class="list-inline">
                <li >
                    {{form_row(form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default' } }) }}                
                </li>                
                <li >
                    <a href="{{ path('grupo') }}" class="btn btn-default">
                        Volver al listado
                    </a>
                </li>                
            </ul>        
        </div>
    </div>
    {{ form_end(form)}}
    
{% endblock %}
