{% extends '::base.html.twig' %}
{%block barraNavegacion%}
{%endblock%}
{%block footer%}
{%endblock%}
{%block pacejs%}{%endblock%}
{%block pacecss%}{%endblock%}
{% block container %}{%endblock%}
{% block endcontainer %}{%endblock%}
{% block body%}
<div class="row" style="width: 1100px; ">
    <div class="col-md-12">
        <table class="records_list table table-striped table-condensed table-bordered" id="tratamientos">
            <thead>
                <tr>
                    <th style="background-color: #1CA9A3; border-color: #1CA9A3">Fecha</th>
                    <th style="background-color: #1CA9A3; border-color: #1CA9A3">Hora</th>
                    <th style="background-color: #1CA9A3; border-color: #1CA9A3">Diente</th>
                    <th style="background-color: #1CA9A3; border-color: #1CA9A3">Tratamiento Ejecutado</th>
                    <th style="background-color: #1CA9A3; border-color: #1CA9A3">Firma Odontólogo</th>
                </tr>
            </thead>
            <tbody>
            {%if atenciones is defined and atenciones!=null%}
            {%for atencion in atenciones%}
            {%for tratamiento in atencion.tratamientos%}
                <tr id="{{tratamiento.id}}">
                <td style="width: 100px;">{{atencion.fechaHora|date('Y-m-d')}}    </td>                    
                <td style="width: 100px;">{{atencion.fechaHora|date('H:i:s')}}</td>
                    <td>{{tratamiento.diente}}</td>
                    <td>{{tratamiento.procedimiento.descripcion}}</td>
                    <td rowspan="2">
                        <img id="firmaM_{{tratamiento.id}}" src="{{asset('uploads/medicos/'~atencion.medico.pathFirma)}}" style="max-width: 150px;" >
                    </td>
                </tr>
                <tr>
                    {%if tratamiento.descripcion !=null%}
                        <td colspan="4">{{tratamiento.descripcion}}</td>
                    {%endif%}   
                </tr>
            {%endfor%}
            {%endfor%}
            {%endif%}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}