{% extends '::base.html.twig' %}

{% block body -%}
<div class="headerdiv">
    <div class="row">
        <div class="col-md-10">
            <h3>Procedimientos</h3>            
        </div>
        <div class="col-md-2" style="padding-top: 0px; text-align: right;">
            <ul class="list-inline">
                <li >                    
                <a href="{{ path('procedimiento_new') }}" class="btn btn-default btn-register" >
                <img src="{{ asset('bundles/histclinica/images/icons/plus-20.png') }}" width="20px" alt="Crear" title="Crear"/>
                Registrar
            </a>
                </li>                
            </ul>
        </div>
    </div>
</div>            
     

    <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Descripci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td class="tdactions">
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('procedimiento_edit', { 'id': entity.id }) }}">
                            <img src="{{ asset('bundles/histclinica/images/icons/edit-20.png') }}" width="20px" alt="Editar" title="Editar"/>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('procedimiento_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar el procedimiento?');" >
                            <img src="{{ asset('bundles/histclinica/images/icons/cancel-22.png') }}" width="20px" alt="Borrar"  title="Borrar"/>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {{ simple_paginator_render('procedimiento',null,{
                    'container_class':'pagination',
                    'firstPageText':'|<',
                    'firstEnabledClass':'',
                    'firstDisabledClass':'disabled',
                    'previousPageText': '<<',
                    'previousEnabledClass':'',
                    'previousDisabledClass':'disabled',
                    'currentClass': 'active',
                    'nextPageText': '>>',
                    'nextEnabledClass':'',
                    'nextDisabledClass':'disabled', 
                    'lastPageText':'>|',
                    'lastEnabledClass': '',
                    'lastDisabledClass': 'disabled'
                    })}}

    {% endblock %}
