{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-7">
            <h2>Opciones de pregunta</h2>
        </div>
        <div class="col-md-5" style="padding-top: 20px; text-align: right;">
            <ul class="list-inline">
                <li >
                    <a href="{{ path('preguntaopcion_newopcion', { 'idpreg': idpreg }) }}" class="btn btn-default">
                        Registrar opcion
                    </a>
                </li>                
            </ul>
        </div>
    </div>
        
    <table class="records_list table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Orden</th>
                <th>Enunciado</th>
                <th>Valortexto</th>
                <th>Valornumero</th>
                <th>Opciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('preguntaopcion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.orden }}</td>
                <td>{{ entity.enunciado }}</td>
                <td>{{ entity.valorTexto }}</td>
                <td>{{ entity.valorNumero }}</td>
                <td>{{ entity.opciones }}</td>
                <td>
<ul class="list-inline">                    
                    <li>
                        <a href="{{ path('preguntaopcion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('preguntaopcion_delete', { 'id': entity.id }) }}" onclick="javascript: return confirm('¿Esta seguro de eliminar la opcion?');" >Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
        <a href="{{ path('pregunta') }}" class="btn btn-default">
                        Listado preguntas
                    </a>
 
    {% endblock %}
