{% extends '::base.html.twig' %}

{% block body -%}
{% form_theme form 'HistClinicaBundle:Form:form_template.html.twig' %}

<div  class="headerdiv">
    <h3>Registrar opci&oacute;n</h3>
</div>
    {{ form_start(form) }}     
<div class="formbody">
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(form.orden)}}</div>
    <div class= "col-md-6">{{form_errors(form.enunciado)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(form.orden) }}</div>
    <div class="col-md-4">{{form_widget(form.orden) }}        </div>  
    <div class="col-md-2">{{form_label(form.enunciado) }}</div>
    <div class="col-md-4">{{form_widget(form.enunciado) }}        </div> 
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(form.valorTexto)}}</div>
    <div class= "col-md-6">{{form_errors(form.valorNumero)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(form.valorTexto) }}</div>
    <div class="col-md-4">{{form_widget(form.valorTexto) }}        </div>
    <div class="col-md-2">{{form_label(form.valorNumero) }}</div>
    <div class="col-md-4">{{form_widget(form.valorNumero) }}        </div> 
</div>
<div class="row formulario-row">            
    <div class= "col-md-6">{{form_errors(form.opciones)}}</div>
    <div class= "col-md-6">{{form_errors(form.defecto)}}</div>
</div>
<div class="row formulario-row">
    <div class="col-md-2">{{form_label(form.opciones) }}</div>
    <div class="col-md-4">{{form_widget(form.opciones) }}        </div> 
    <div class="col-md-2">{{form_label(form.defecto) }}</div>
    <div class="col-md-4">{{form_widget(form.defecto) }}        </div> 
</div>
<input type="hidden" value="{{ idpreg }}" name="idpreg" id="idpreg"/>
</div>
<div class="row formulario-row">
    <div class="col-md-12">        
        <ul class="list-inline">
            <li >
                    {{form_row(form.submit, {'label': 'Guardar', 'attr' : { 'class' :'btn btn-default btn-success' } }) }}                
            </li>                
            <li >
                <a href="{{ path('preguntaopcion_listado', { 'id': idpreg }) }}" class="btn btn-default">
                    Volver al listado
                </a>
            </li>                
        </ul>        
    </div>
</div>


    {{ form_end(form)}}
{% endblock %}
